*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main_wrapper {
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

body {
  font-family: roboto, sans-serif, Arial;
}

main {
  background-color: #f7f7f7;
}

.main_container {
  background-color: #f7f7f7;
  border-radius: 25px 25px 0 0;
  position: relative;
  top: -40px;
  margin: auto;
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@media all and (min-width: 768px) {
  .main_wrapper {
    padding: 0 50px;
  }
}
@media all and (min-width: 992px) {
  .main_wrapper {
    margin: auto;
    padding: 0 20px;
    width: 100%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  75% {
    transform: rotate(180deg);
    opacity: 0.8;
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes background {
  0% {
    opacity: 1;
    visibility: visible;
  }
  75% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader__container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  animation: background 3s forwards;
  z-index: 1000;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader__animation {
  border: 10px solid white;
  border-top: 10px solid #99e2d0;
  border-left: 10px solid #99e2d0;
  border-bottom: 10px solid #99e2d0;
  border-right: 10px solid #99e2d0;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: spin 3s forwards;
  margin: auto;
  cursor: wait;
  background-image: url("/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sub__header {
  display: flex;
  justify-content: center;
  position: relative;
}

#logo {
  display: flex;
  justify-content: center;
  height: 35px;
  margin: 15px;
}

.header_arrow {
  font-size: 1.7rem;
  color: black;
  position: absolute;
  left: 25px;
  top: 20px;
}

.sub__header__img img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  #logo {
    height: 60px;
    margin: 20px;
  }
  .sub__header__img img {
    width: 100%;
    object-fit: cover;
    height: 350px;
  }
  .header_arrow {
    font-size: 3rem;
    left: 25px;
    top: 25px;
  }
}
@media screen and (min-width: 992px) {
  #logo {
    height: 50px;
    margin: 20px;
  }
  .header_arrow {
    font-size: 1.3rem;
  }
}
footer {
  background-color: #353535;
  position: sticky;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: white;
  line-height: 30px;
}
footer h2 {
  font-family: Shrikhand;
  color: white;
  padding-top: 35px;
  margin-top: 0;
  font-weight: 500;
}
footer .fa-utensils {
  padding-right: 20px;
}
footer .fa-handshake-angle {
  padding-right: 12px;
}

@media all and (min-width: 768px) {
  footer {
    font-size: 1.5rem;
  }
  li {
    line-height: 4rem;
    font-size: 2rem;
  }
}
@media all and (min-width: 992px) {
  footer {
    font-size: 1.1rem;
    padding-left: 50px;
  }
  ul {
    padding-left: 50px;
  }
  li {
    line-height: 2rem;
    font-size: 1.1rem;
  }
  .fa-utensils {
    font-size: 1.5rem;
    padding-right: 20px;
  }
  .fa-handshake-angle {
    font-size: 1.5rem;
    padding-right: 10px;
  }
}
.location {
  box-shadow: 0px -5px 5px lightgrey;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  font-weight: 700;
}

.presentation {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  background-color: #f7f7f7;
}
.presentation p {
  font-size: 1.1rem;
}

.functioning {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.functioning .functioning__icon {
  color: grey;
  margin: 0 35px 0 20px;
  font-size: medium;
}

.funct_btn {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  height: 80px;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 4px 4px 2px lightgrey;
}
.funct_btn:hover {
  background-color: #f5edff;
}
.funct_btn:hover:hover .fa-mobile-screen-button {
  color: #8c57c9;
}
.funct_btn:hover:hover .fa-list-ul {
  color: #8c57c9;
}
.funct_btn:hover:hover .fa-store {
  color: #8c57c9;
}
.funct_btn .funct_number {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  padding: 5px 5px;
  position: relative;
  right: 10px;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 35px;
}

.restaurants__card {
  width: 100%;
  height: 280px;
  box-shadow: 4px 4px 2px lightgrey;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  margin-bottom: 20px;
  position: relative;
}
.restaurants__card img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 25px 25px 0 0;
}
.restaurants__card .badge {
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: bolder;
  background-color: #99e2d0;
  width: 100px;
  text-align: center;
  height: 45px;
  color: #1a8a68;
}
.restaurants__card .restaurants__card__caption {
  display: flex;
}
.restaurants__card .restaurants__card__caption__icon {
  flex: 1;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 10px;
}
.restaurants__card .restaurants__card__caption__description {
  flex: 5;
  margin: 10px 0 0 15px;
}
.restaurants__card .restaurants__card__caption__description h3 {
  font-size: 1.2rem;
  margin: 0;
}
.restaurants__card .restaurants__card__caption__description img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 25px 25px 0 0;
}
.restaurants__card .restaurants__card__caption__description p {
  margin: 0 0 0 0px;
  padding-top: 5px;
}

@media all and (min-width: 768px) {
  .location p {
    font-size: 1.7rem;
  }
  .presentation p {
    font-size: 2rem;
    font-weight: 900;
  }
  .presentation h1 {
    font-size: 3rem;
  }
  .functioning__title {
    margin: auto;
    font-size: 1.5rem;
  }
  .functioning__btn__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .functioning__btn__container h3 {
    font-size: 1.5rem;
  }
  .funct_btn {
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 30%;
  }
  .funct_btn .funct_number {
    height: 35px;
    width: 35px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    top: -10px;
  }
  .funct_btn .fa-sharp {
    font-size: 2.5rem;
  }
  .funct_btn .fa-solid {
    font-size: 2.5rem;
  }
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
    margin-top: 45px;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
  }
  .restaurants h2 {
    font-size: 2.5rem;
    margin: auto;
  }
  .restaurants__card {
    width: 100%;
  }
  .restaurants__card img {
    width: 350px;
  }
  .restaurants__card__caption {
    font-size: 1.5rem;
  }
  .restaurants__card h3 {
    font-size: 3rem;
  }
  .restaurants__card .restaurants__card__caption__description h3 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
  .location p {
    font-size: 1.7rem;
  }
  .presentation p {
    font-size: 2rem;
    font-weight: 900;
  }
  .presentation h1 {
    font-size: 2.5rem;
  }
  .functioning__title {
    margin: auto;
    font-size: 1.5rem;
  }
  .functioning__btn__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .functioning__btn__container h3 {
    font-size: 1.5rem;
  }
  .funct_btn {
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    width: 30%;
  }
  .funct_btn .funct_number {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    top: -10px;
  }
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px 35px;
    padding-top: 50px;
    margin: auto;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .restaurants h2 {
    font-size: 2.5rem;
    margin: auto;
  }
  .restaurants__card img {
    width: 400px;
  }
  .restaurants__card__caption {
    font-size: 1.5rem;
  }
  .restaurants__card h3 {
    font-size: 3rem;
  }
  .restaurants__card .restaurants__card__caption__description h3 {
    font-size: 1.7rem;
  }
}
@keyframes appear {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {}
.fa-circle-check {
  color: white;
  overflow: hidden;
}

.menu__section__card:hover > .menu__section__card__check {
  width: 15%;
  color: white;
  transform: 600ms;
}
.menu__section__card:hover > .menu__section__card__check > .fa-circle-check {
  animation-delay: 100ms;
  transform: rotate(360deg);
  transition: 0.4s ease-in-out;
}

.menu__section__card__check {
  display: flex;
  font-size: 1.7rem;
  width: 0%;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

.menu__section__card {
  border-radius: 15px;
  background-color: white;
  padding-left: 15px;
  margin: 20px 0 15px 0;
  display: flex;
  animation-name: appear;
  animation-duration: 900ms;
}
.menu__section__card h3 {
  margin: 0;
  padding-top: 10px;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__section__card__dish {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__section__card__dish__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__section__card__dish__description p {
  margin: 0;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__section__card__dish__description .menu__section__card__dish__description__recipe {
  flex: 8;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__section__card__dish__description .menu__section__card__dish__description__price {
  flex: 1;
  font-weight: bolder;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 10px;
}
.menu__section__card__dish__description .menu__section__card__dish__description__price p {
  margin: 0;
}

.fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(to right, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.menu {
  background-color: #f7f7f7;
}

.restaurant__name {
  font-family: Shrikhand, sans-serif, Arial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f7f7f7;
  padding-bottom: 15px;
}
.restaurant__name .restaurant__name__icon {
  font-size: 1.7rem;
}
.restaurant__name h1 {
  margin: 0;
}

.menu__section__card__title h2 {
  font-weight: lighter;
  font-family: roboto, sans-serif, Arial;
  text-transform: uppercase;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-bottom: 5px;
}

@media all and (min-width: 768px) {
  .restaurant__name h1 {
    font-size: 3rem;
    padding: 30px;
  }
  .fa-regular {
    font-size: 2rem;
  }
  .menu__section__card {
    height: 200px;
    box-shadow: 4px 4px 2px lightgrey;
  }
  .menu__section__card .menu__section__card__dish_title {
    display: flex;
    justify-content: center;
  }
  .menu__section__card h3 {
    font-size: 2rem;
    justify-content: center;
    padding-top: 15px;
  }
  .menu__section__card p {
    font-size: 1.7rem;
    padding: 15px;
  }
  .menu__section__card .menu__section__card__dish__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__section__card__title h2 {
    text-transform: uppercase;
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 5px;
    margin: auto;
    width: 100%;
    font-size: 2rem;
  }
  .restaurants__card {
    width: 110%;
  }
  .restaurants__card img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__name {
    justify-content: center;
  }
  .restaurant__name h1 {
    font-size: 2rem;
  }
  .menu__section__card__title {
    padding: 15px;
  }
  .menu__section__card__title h2 {
    font-size: 1.2rem;
  }
  .menu__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu__section__starter {
    flex-direction: column;
    width: 30%;
  }
  .menu__section__main {
    width: 30%;
  }
  .menu__section__dessert {
    width: 30%;
  }
  .menu__section__card__dish {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menu__section__card {
    height: 100px;
  }
  .menu__section__card .menu__section__card__dish_title {
    justify-content: flex-start;
  }
  .menu__section__card .menu__section__card__dish__description {
    display: block;
  }
  .menu__section__card.__description__recipe {
    text-overflow: ellipsis;
  }
  .menu__section__card h3 {
    font-size: 1rem;
  }
  .menu__section__card p {
    font-size: 1rem;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.btn__order {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.btn-pill {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  width: 70%;
  height: 50px;
  color: white;
  box-shadow: 4px 4px 2px #f7f7f7;
}
.btn-pill p {
  font-size: 1.1rem;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .btn-pill {
    height: 90px;
    width: 80%;
    margin: 15px;
  }
  .btn-pill p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .btn-pill {
    height: 70px;
    width: 20%;
    margin: 15px;
  }
  .btn-pill p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
