@import '../sass/base/base.scss';
@import '../sass/utils/utils.scss';

@import '../sass/layout/header.scss',
        '../sass/layout/footer.scss';

@import '../sass/pages/home.scss';


@media screen and (min-width: 320px)

{


.sub__header__img {
    height: 300px;
    width: 100%;
        img
        {
            width: 100%;
            object-fit: cover;
        }
}

.main_container
{
    background-color: $grey;
    padding-bottom: 50px;
}

.btn__order
{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.btn-pill
{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(170deg,#ff79da, #9356dc);
    width: 70%;
    height: 50px;
    color: white;
    box-shadow: 4px 4px 2px #f7f7f7;
        p
        {
            font-size: 1.1rem;
            margin: auto;
            text-align: center;
            font-weight: bold;
            
        }
}


.menu 
{
    background-color: $grey;
}

.restaurant__name 
{
    font-family: Shrikhand;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
        border-radius: 40px 40px 0 0;
        .restaurant__name__icon
        {
            font-size: 1.7rem;
        }
}

.menu__section__title {
    h2 {
    font-weight: lighter;
    font-family: roboto;
    text-transform: uppercase;
    border-bottom: 3px solid $mint;
    width: 40px;
    padding-bottom: 5px;
}
}

.menu__section__dish
{
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 2px #f7f7f7;
    padding-left: 15px;
    

    .menu__section__dish__description {
        display: flex;
        justify-content: space-between;
        width: 100%;
            h3
            {
                margin: 0;
                
            }
        
        .menu__section__dish__description__recipe
        {
            flex: 8;
        }
            p
            {
                margin: 0;
                font-size: 1rem;
            }
            
        .menu__section__dish__description__price
        {
            flex: 1;
            font-weight:bolder
        }
            p
            {
                margin: 0;
            }
}   
}


}
