footer 
{
    background-color: #353535;  
    position: sticky;
    ul 
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

    a
    {
        text-decoration:none;
        color: white;
        line-height: 30px;
    }
    h2
    {
        font-family: Shrikhand;
        color: white;
        padding-top: 35px;
        margin-top: 0;
    }
}