.sub__header {
    display: flex;
    justify-content: center;
    position: relative;

}

#logo {
    display: flex;
    justify-content: center;
    height: 35px;
    margin: 15px;
}

.header_arrow {
    font-size: 1.7rem;
    color: black;
    position: absolute;
    left: 25px;
    top: 20px;

}

.sub__header__img {
    img {
        width: 100%;
        object-fit: cover;
        height: 250px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    #logo {
        height: 60px;
        margin: 20px;

    }

    .sub__header__img {
        img {
            width: 100%;
            object-fit: cover;
            height: 350px;
        }
        }
        .header_arrow {
            font-size: 3rem;
            left: 25px;
            top: 25px;

        }
    
}

@media screen and (min-width: 992px)
{
    #logo {
        height: 50px;
        margin: 20px;

    }

    .header_arrow {
        font-size: 1.3rem;
    }
}