.btn__order
{
    display: flex;
    justify-content: center;
    padding: 35px;
}

.btn-pill
{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(170deg,#ff79da, #9356dc);
    width: 70%;
    height: 50px;
    color: white;
    box-shadow: 4px 4px 2px #f7f7f7;
        p
        {
            font-size: 1.1rem;
            margin: auto;
            text-align: center;
            font-weight: bold;
            
        }
}
