.restaurants__card
{
    width: 100%;
    height: 280px;
    @include box-shadow;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
        img {
            width: 100%;
            object-fit: cover;
            height: 200px;
            border-radius: 25px 25px 0 0;
        }
            .badge
            {
                position: absolute;
                right: 20px;
                top: 15px;
                font-weight: bolder;
                background-color:#99e2d0;
                width: 100px;
                text-align: center;
                height: 45px;
                color:#1a8a68;
                p
                {
                    margin-top: 12px;
                }
            }

            .restaurants__card__caption 
            {
                display: flex;
            }
            .restaurants__card__caption__icon 
            {
                flex: 1;
                font-size: 1.7rem;
                text-align: right;
                padding-top: 10px;
                padding-right:15px ;
            }
            .restaurants__card__caption__description
            {
                flex:5;
                margin: 10px 0 0 15px;
                    h3
                    {
                        font-size: 1.2rem;
                        margin: 0;
                        
                    }
                    img 
                    {
                        width: 100%;
                        object-fit: cover;
                        height: 200px;
                        border-radius: 25px 25px 0 0;
                    }
                    p
                    {
                       margin: 0 0 0 0px; 
                       padding-top: 5px;
                    }
            }
}

.restaurants__card:hover
{
    transition: transform 250ms ease-out,
    -webkit-transform 250ms ease-out;
    transform: scale(1.05);
    box-shadow: 8px 8px 4px lightgrey;
}

@media all and (min-width: 768px) 

{ 
    .card
    {
        width: 45%;
    }    
    .restaurants__card
    {
        width: 100%;
        img {
            width:350px;
        }
        &__caption
        {
            font-size: 1.5rem;
        }
        h3{
            font-size: 3rem;
        }
        .restaurants__card__caption__description h3
        {
            font-size: 1.5rem;
        }
        p{
            font-size: 1.1rem;
        }
    }

}



@media screen and (min-width: 992px)
{
    .restaurants__card
{
    img 
    {
        width:300px;
    }
    &__caption
    {
        font-size: 1rem;
    }

    .restaurants__card__caption__description h3
    {
        font-size: 1.3rem;
    }
}

.card
{
    width: 35%;
}

}