*, *:before, *:after { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
  }

.main_wrapper
{
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

body
{
  font-family: roboto, sans-serif, Arial;
}

.main_container
{
    background-color: $grey;
    border-radius:25px 25px 0 0;
    position: relative;
    margin: auto;
    padding: 30px;
}

a
{
  color: inherit; 
  text-decoration: inherit; 
}
