*, *:before, *:after { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
  }

.main_wrapper
{
  margin: auto;
  padding: 15px 20px;
  width: 100%;
}


main
{
  background-color: #eaeaea;
}

.main_container
{
    background-color: #eaeaea;
    border-radius:25px 25px 0 0;
    position: relative;
    top:-40px;
    margin: auto;
    padding: 30px;
}

a
{
  color: inherit; 
  text-decoration: inherit; 
}

.loader__animation
{
  border: 10px solid white;
  border-top: 10px solid #9356DC;
  border-left: 10px solid #99e2d0;
  border-bottom: 10px solid #9356DC;
  border-right: 10px solid #99e2d0;
  border-radius: 50%;
  font-family: Shrikhand;
  font-size: 2rem;
  width: 220px;
  height: 220px;
  animation: spin 3s forwards;
  margin: auto;
  cursor:wait;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__container
{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $grey;
  animation: background 3s forwards;
  z-index: 1000;
  display: flex;  
  top:0;
  left: 0; 
  right: 0;
  bottom: 0;
}



@media all and (min-width: 768px)
{
  .main_wrapper
  {
    padding: 0 50px;
  }
}

@media all and (min-width: 992px){
.main_wrapper
{
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

}


@keyframes spin {
  0%{
    transform: rotate(360deg);
    opacity: 1;
    visibility: visible;
    
  }
  
  75%{
    transform: rotate(90deg);
    opacity: 1;
    visibility: visible;
  }

  100%{
    transform: rotate(0deg);
    opacity: 0;
    visibility: hidden;
  }
  }
  

  @keyframes background {
    0%{
      opacity: 1;
      visibility: visible;
      
    }
  
    75%{
      opacity: 1;
      visibility: visible;
    }
  
    100%{
      opacity: 0;
      visibility: hidden;
    }
    }

