
h1
{
    font-size: 1.5rem;
}

.location 
{
    box-shadow: 0px -5px 5px lightgrey;
    display: flex;
    justify-content: center;
    background-color:#eaeaea;
    font-weight: 700;
}

.presentation
{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 35px;
    align-items: center;
    background-color: #ededed;
        p
        {
            font-size: 1.1rem;
        }
}

.functioning
{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
        .functioning__icon {
            color: grey;
            margin:0 35px 0 20px;
            font-size: medium;
        }    
}


.funct_btn
{
    display: flex;
    align-items: center;
    background-color: $grey;
    border-radius: 20px;
    height: 80px;
    text-align: center;
    margin-bottom: 25px;
    @include box-shadow;
    h3
    {
        justify-content: center;
    }
    &:hover
    {
        background-color: #f5edff; 
        &:hover .fa-mobile-screen-button
        {
            color:#8c57c9;
        }
        &:hover .fa-list-ul 
        {
            color:#8c57c9;
        }
        &:hover .fa-store 
        {
            color:#8c57c9;
        }
    }
        .funct_number
        {
            height: 25px;
            width: 25px;
            background-color: #9356dc;
            border-radius: 50%;
            color: white;
            padding: 5px 5px;
            position: relative;
            right: 10px;
        }
}



.restaurants
{
    background-color: #ededed;
    h2
    {
        padding: 2rem 0 0 1rem;
    }
}


@media all and (min-width: 768px) {

.location
{
    p{
        font-size: 1.5rem;
    }
}

.presentation
{
    p{
    font-size: 1.4rem;
    font-weight: 900;
    }
    h1
    {
        font-size: 2rem;
    }
}

.functioning
{
    &__title
    {   
        margin: auto;
        padding-bottom: 1rem;
        font-size: 1.3rem;
    }
}
.functioning__btn__container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3
    {
        font-size: 1.3rem;
    }
}

.funct_btn
{
    flex-direction: column;
    justify-content: space-between;
    height: 165px;
    width: 30%;


    .funct_number
{
    height: 35px;
    width: 35px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    top: -10px;
}

    .fa-sharp
    {
        font-size: 2.5rem;
    }
    .fa-solid
    {
        font-size: 2.5rem;
    }
}

.restaurant__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.restaurants
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    h2
    {
        font-size: 2rem;
        margin: auto;
    }
}


}

@media screen and (min-width: 992px)
{

.location
{
    p{
        font-size: 1rem;
    }
}
.presentation
{
    p{
    font-size: 1.1rem;
    font-weight: 900;
    }
    h1
    {
        font-size: 1.3rem;
    }
}

.functioning
{
    &__title
    {   
        margin: auto;
        padding-bottom: 30px;
        font-size: 1rem;
    }
}
.functioning__btn__container
{
    gap: 35px;
    justify-content: center;
    font-size: 1rem;
    h3
    {
        font-size: 0.9rem;
    }
}

.funct_btn
{
    justify-content: space-around;
    height: 130px;
    width: 20%;

    .funct_number
{
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    top: -10px;
}
}


.restaurant__container
{
    display: flex;
    flex-wrap: wrap;
    gap: 35px 35px;
    padding-top: 50px;
    margin: auto;
}

.restaurants
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    h2{
        font-size: 1.7rem;
        margin: auto;
    }
}

.fa-mobile-screen-button
{
    font-size: 1.5rem;
}

.fa-list-ul
{
    font-size: 1.5rem;
}

.fa-store
{
    font-size: 1.5rem;
}

}