$mint:#99e2d0;
$grey:#ededed;
$purpleGradient:linear-gradient(170deg,#ff79da, #9356dc);

@mixin box-shadow {
    box-shadow: 4px 4px 2px lightgrey;
}

@mixin underline
{
    text-decoration: underline;
    width: 40px;
    color: $mint;
}